<!--スライダープラグイン-->
<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <%= image_tag "toppage.jpg", class: "img" %>
    </div>
    <div class="swiper-slide">
      <%= image_tag "post-ribbon.jpg", class: "img" %>
    </div>
    <div class="swiper-slide">
      <%= image_tag "memu-tops.jpg", class: "img" %>
    </div>
  </div>
  <!-- 前後の矢印 -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <!-- ページネーション -->
  <div class="swiper-pagination"></div>
</div>
<!--/スライダープラグイン-->

<!--ニュース-キャンドル一覧-->
<div class="news-candle">
  <!--ニュース-->
  <div class="news">
  <h1>イベント情報一覧</h1>
  
    <div class="event-list">
      <% 3.times do |event| %>
        <div class="event">
          <p class="event-name">name:北谷雑貨１グランプリ</p>
          <p class="category">category:フリーマーケット</p>
          <p class="date">date:2023/6/15</p>
        </div>
        <div class="event-space"></div>
      <% end %>
    </div>
  </div>
  <!--/ニュース-->

  <!--キャンドル一覧-->
  <div class="candle">
  <%= image_tag "coffee-candle.jpeg" , class: "img" %>
  <p>キャンドル一覧</p>
  </div>
  <!--/キャンドル一覧-->


</div>
<!--/ニュース-キャンドル一覧-->

<!--スライダープラグインのスプリクト-->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>const swiper = new Swiper(".swiper", {
  loop: true,
  effect: 'fade',
  freeMode: true,
  // 自動再生
  autoplay: {
		delay: 2000,
		stopOnLastSlide: false,
		disableOnInteraction: false,
		reverseDirection: false,
	},
  // 左右矢印
  speed: 800,
	navigation: {
		nextEl: '.swiper-button-next',
		prevEl: '.swiper-button-prev',
	},
  // ページネーション
	pagination: {
		el: '.swiper-pagination',
		type: 'bullets',
		clickable: true,
	},
});</script>