* {
  box-sizing: border-box;
}
.page-header {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
}
.logo {
  width: 200px;
  margin-bottom: 0px;
}
.shop-name {
  padding-top: 100px;
  font-family: 'Sawarabi Mincho', serif;
  font-size: 20px;
  padding-right: 210px;
}
.main-nav {
  display: flex;
  padding-top: 100px;
  padding-right: 36px;
  font-size: 1.25rem;
  list-style: none;
}
.main-nav li {
  margin-left: 36px;
}
.main-nav a {
  color: #a07b40;
}
.main-nav a:hover {
  color: #6f5239;
}