<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class="page-header">
  <%= link_to image_tag("logo.png", class:"logo"), "/"%>                   
  <nav>
    <ul class="main-nav">
      <li><%= link_to '商品一覧', "#"%></li>
      <li><%= link_to '店舗紹介', "#"%></li>
      <li><%= link_to 'お問い合わせああああ', "#"%></li>                    
    </ul>
  </nav>
</header> 